/node_modules
/.pnp
.pnp.js
/coverage
/build
*.pem
.env*.local
.vercel
\*.tsbuildinfo
.astro/
dist/
logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
pids
_.pid
_.seed
\*.pid.lock
lib-cov
coverage
\*.lcov
.lock-wscript
build/Release
jspm_packages/
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
\*.tgz
.env
.env.production
.env.development.local
.env.test.local
.env.production.local
.env.local
.cache
.parcel-cache
.cache/
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.\*
.idea
.DS_Store
